body{
    background-color: rgb(243, 240, 235);
  
    
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 5px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    background: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #be84a1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
  }
  
 

.navbar {
  background-color:  #e6dbe3;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #6d506e;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #a0749e;
}



/* CSS styles for the wellcome section */
.welcome-section {
     /* Pink color */
    color: rgb(27, 26, 26);
    text-align: center;
    padding: 10px;
  }
  
  .welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .welcome-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }




/* CSS styles for the offer section */
  .offer-section {
    background-color:  #f1d9e5bb;
    padding: 50px;
    text-align: center;
  }
  
  .offer-image {
    max-width: 400px;
    height: auto;
  }
  
  .offer-discount {
    font-size: 24px;
    margin-top: 20px;
  }

/* CSS styles for the store items */
.store-container {
  display: flex;
  overflow-x: auto;
  padding-top: 30px;
}

.store-item {
  flex: 0 0 200px;
  margin-right: 20px;
  text-align: center;
  background-color:  #f1d9e5bb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.store-item:hover {
  transform: scale(1.1);
}

.store-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
 border-radius: 50%;
}

.store-item .name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.store-item .price {
  margin-top: 5px;
  color: #888;
  font-size: 14px;
}

.footer {
    background-color: #ddd0d9bb; 
    color: #74375fbb;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .footer p {
    margin: 0;
  }


  
.categories {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .category {
    padding: 10px 20px;
    background-color: #cf8aac;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .category:hover {
    background-color: #a74579;
  }
  
  .selected {
    background-color: #bd729e;
  }
  .login-btn, .favorite-btn {
    background-color: #b67294;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .login-btn:hover, .favorite-btn:hover {
    background-color: #492c49;
  }
  
  .fa {
    margin-right: 5px; 
  }
  .login-btn{
    position: absolute;
    bottom: 76%;
    left: 88%;
  }
  .favorite-btn {
    position: absolute;
    bottom: 76%;
    left: 80%;
  }
/* تصميم للأجهزة الصغيرة مثل الهواتف */
@media only screen and (max-width: 600px) {
  /* أضف قواعد CSS هنا لتعديل التصميم للهواتف */
}

/* تصميم للأجهزة الكبيرة مثل الأجهزة اللوحية */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* أضف قواعد CSS هنا لتعديل التصميم للأجهزة اللوحية */
}

/* تصميم للأجهزة الكبيرة جدًا مثل الحواسيب */
@media only screen and (min-width: 1025px) {
  /* أضف قواعد CSS هنا لتعديل التصميم للحواسيب */
}