*{
    margin:0; padding:0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(243, 240, 235);
    margin: 0;
}

h3{
    color: #d16fb4;
    text-align: left;
    font-size: 28px;
    text-align: center;
    border-style: solid solid solid solid;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;

}


.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
    
}
/* تصميم للأجهزة الصغيرة مثل الهواتف */
@media only screen and (max-width: 600px) {
    /* أضف قواعد CSS هنا لتعديل التصميم للهواتف */
  }
  
  /* تصميم للأجهزة الكبيرة مثل الأجهزة اللوحية */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* أضف قواعد CSS هنا لتعديل التصميم للأجهزة اللوحية */
  }
  
  /* تصميم للأجهزة الكبيرة جدًا مثل الحواسيب */
  @media only screen and (min-width: 1025px) {
    /* أضف قواعد CSS هنا لتعديل التصميم للحواسيب */
  }

